        html {
            font-family: Verdana, sans-serif;
            overflow:hidden;
            -ms-content-zooming: none;
        }
        body{
			margin:0;
			padding:0;
		}

		h1{
			position:absolute;
			z-index:10000;
			color:white;
			margin:40px 20px;
		}

        #container {
            width: 100%;
            background-color: black;
            border: 1px solid black;
            color: white;   /* text color for messages */
            position:absolute;
            bottom:0;
            top:0;
        }
        
        .disablePanZoom {
  overflow: hidden; /* Disables panning */
  -ms-content-zooming: none; /* Disables zooming */
}
